<h2>Form User</h2>

<form action="" method="POST">
    <label for="formUser-name">Name</label>
    <input type="text" name="userForm-name" id="formUser-name" maxlength="20" value= ""/>

    <label for="formUser-gender">Gender</label>
    <select id="formUser-gender" name="userForm-gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
      <option value="PreferNotToSay">Prefer not to say</option>
    </select>

    <label for="formUser-sexOrientation">Sex Orientation</label>
    <select id="formUser-sexOrientation" name="userForm-sexOrientation">
      <option value="Heterosexual">Heterosexual</option>
      <option value="Gay/Lesbian">Gay/Lesbian</option>
      <option value="Bisexual">Bisexual</option>
      <option value="Other">Other</option>
      <option value="PreferNotToSay">Prefer not to say</option>
    </select>

    <a href="/formCompany">Continue</a>
</form> 