<div class="container">
<h2>Form User</h2>
<<<<<<< HEAD

<form action="" method="POST" class="formUser">
=======
<form action="" method="POST">
>>>>>>> 2227a7bc657eaec45a164115f96f8f3700f673e2
    <label for="formUser-name">Name</label>
    <input type="text" name="userForm-name" id="formUser-name" maxlength="20" value= "Anonymous" placeholder="Write your name here"/>

    <label for="formUser-gender">Gender</label>
    <select id="formUser-gender" name="userForm-gender">
      <option value="PreferNotToSay">Prefer not to say</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>

    <label for="formUser-sexOrientation">Sex Orientation</label>
<<<<<<< HEAD
    <select id="formUser-sexOrientation" name="userForm-sexOrientation">
      <option value="PreferNotToSay">Prefer not to say</option>
=======
    <select class="orientation" id="formUser-sexOrientation" name="userForm-sexOrientation">
>>>>>>> 2227a7bc657eaec45a164115f96f8f3700f673e2
      <option value="Heterosexual">Heterosexual</option>
      <option value="Gay/Lesbian">Gay/Lesbian</option>
      <option value="Bisexual">Bisexual</option>
      <option value="Other">Other</option>
    </select>

    <button class="btn btn-outline-secondary btnG"><a href="/formCompany" >Continue</a></button>
  </div> 
</form> 