<div class="container formUser">
<h2>Form User</h2>

<form action="" method="POST">
    <label for="formUser-name" class="form-User-name">Name</label>
    <input type="text" name="userForm-name" id="formUser-name" maxlength="20" value= "Anonymous" placeholder="Write your name here"/>

    <label for="formUser-gender">Gender</label>
    <select id="formUser-gender" name="userForm-gender">
      <option value="PreferNotToSay">Prefer not to say</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>

    <label for="formUser-sexOrientation">Sex Orientation</label>
    <select id="formUser-sexOrientation" name="userForm-sexOrientation">
      <option value="PreferNotToSay">Prefer not to say</option>
      <option value="Heterosexual">Heterosexual</option>
      <option value="Gay/Lesbian">Gay/Lesbian</option>
      <option value="Bisexual">Bisexual</option>
      <option value="Other">Other</option>
    </select>

    <a class="btn btn-outline-secondary form-User-btn" href="/formCompany" class="form-User-a">Continue</a
</form> 
  </div> 