<form action="" method="POST">
   <div class="containerFormCompany">
     <label for="formCompany-companyName">Company Name</label>
      <input type="text" name="CompanyForm-companyName" id="formCompany-companyName" maxlength="30" value= ""/>
<div class="form-group col-md-4">
       <label for="formUser-location">Location</label>
    <select id="formUser-location" name="userForm-location">
      <option value="Lisboa">Lisboa</option>
      <option value="Porto">Porto</option>
      <option value="Braga">Braga</option>
      <option value="Setúbal">Setúbal</option>
      <option value="Aveiro">Aveiro</option>
      <option value="Faro">Faro</option>
      <option value="Leiria">Leiria</option>
      <option value="Coimbra">Coimbra</option>
      <option value="Santarém">Santarém</option>
      <option value="Viseu">Viseu</option>
      <option value="Viana do Castelo">Viana do Castelo</option>
      <option value="Madeira">Madeira</option>
      <option value="Açores">Açores</option>
      <option value="Vila Real">Vila Real</option>
      <option value="Castelo Branco">Castelo Branco</option>
      <option value="Évora">Évora</option>
      <option value="Guarda">Guarda</option>
      <option value="Beja">Beja</option>
      <option value="Bragança">Bragança</option>
      <option value="Portalegre">Portalegre</option>
    </select>
    </div>

    <label for="formCompany-Opportunity">Opportunity</label>
    <input type="number" id="formCompany-Opportunity" name="CompanyForm-Opportunity"
       min="1" max="5">

    <label for="formCompany-family">Family</label>
    <input type="number" id="formCompany-family" name="CompanyForm-family"
       min="1" max="5">

    <label for="formCompany-schedule_flex">Schedule Flex</label>
    <input type="number" id="formCompany-schedule_flex" name="CompanyForm-schedule_flex"
       min="1" max="5">

    <label for="formCompany-enrichment">Enrichment</label>
    <input type="number" id="formCompany-enrichment" name="CompanyForm-enrichment"
       min="1" max="5">

    <label for="formCompany-culture">Culture</label>
    <input type="number" id="formCompany-culture" name="CompanyForm-culture"
       min="1" max="5">

    <label for="formCompany-overall-satisfaction">Overall Satisfaction</label>
    <input type="number" id="formCompany-overall-satisfaction" name="CompanyForm-overall-satisfaction"
       min="1" max="5">
<div class="btnG">
    <button id="btn-form" class="btn btnG btn-outline-secondary">Submit</button>
</div>
</form> 
</div>