{{!-- <header class="index-header d-flex">
  <img src="./images/background.jpg" alt="Background">
  {{>formUser}}
</header> --}}

<header class="container-fluid">
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="navy">
      <div class="content">
          <img src="./images/background.jpg" alt="Background">  
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 form-User-right">
    <div class="light">
      <div class="content">
          {{>formUser}}
      </div>
    </div>
  </div>
</div>
</header>