<div class="imgList" >
  <h2>Ironhack - Statistics</h2>
  <img class="imgRating" src="./images/Ironhack - Rating.png" alt="Rating">
  <img class="imgSalaries" src="./images/Ironhack - Salaries.png" alt="Salaries">
  <img class="imgCategories" src="./images/Ironhack - Categories.png" alt="Categories">
</div>