<div>
  <h2>User's Statistics</h2>
{{!--   <img src="./images/users/Gender.png" alt="Gender">
  <img src="./images/users/Marital.png" alt="Marital">
  <img src="./images/users/Children.png" alt="Children">
  <img src="./images/users/Education.png" alt="Education">
  <img src="./images/users/Job.png" alt="Job"> --}}
  <img class="allImgs" src="./images/users/allImgs.png" alt="allImgs">
</div>