$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$grey: hsla(0, 0, 75%, 0.5);

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  max-width: 90rem;
  padding: 0 1em;
  margin: 0 auto;
  font-family: sans-serif;
  font-family: $font-sans;
  line-height: 2;
  /*   background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; */
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  a,
  button {
    padding: 1em 0;
    border: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  input,
  select {
    margin-bottom: 1rem;
  }
}

#navbar {
  min-height: 2vh;
  background-color: green($color: #000000);
}

//index.hbs
<<<<<<< HEAD
=======
.index-img-left {
  width: 100%;
  max-width: 100%;
  height: 90vh;
}

@media (max-width: 767px) {
  .index-img-left {
    width: 100%;
    max-width: 100%;
    height: 50vh;
  }
}

.form-User-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
>>>>>>> da527eae83a8787c4b36ca2589dd96b450e4a781

//formUser.hbs
.form-User-btn {
  margin-top: 2rem;
}

#formUser-a {
  color: black;
  text-decoration: none;
}
<<<<<<< HEAD
.containerUser {
=======

.form-User-name {
  margin-top: 7rem;
}

.container {
>>>>>>> da527eae83a8787c4b36ca2589dd96b450e4a781
  padding: 5% 10%;
}
.orientation {
  margin-bottom: 10px;
}

.content {
  margin: 10% 0%;
}

//all companies

.containerAllCompanies {
  padding: 5% 10%;
}

//formCompany

.containerFormCompany {
  display: flex;
  flex-direction: column;
  padding: 5% 30%;
}
.btnG {
  align-self: center;
  margin-top: 20px;
}

//bestcompanies.hbs
#bestcompanies {
  display: flex;
  align-self: center;
  width: 60em;
  height: 25em;
  margin: 2% 10%;
}

//ironhack
.imgList {
  text-align: center;
}

.imgRating {
  height: 12em;
  width: 70em;
  margin-top: 2em;
}

.imgSalaries {
  margin-top: 5em;
  height: 20em;
  width: 80em;
}

.imgCategories {
  margin: 0 auto;
  height: 40em;
  width: 50em;
  margin: 50px;
}
